<!DOCTYPE html>

<html lang="en">

{#<script src="/static/jquery.js"></script>#}
{##}
{##}
{#<link href="/static/bootstrap.css" rel="stylesheet">#}
{#<script type="text/javascript" src="/static/bootstrap.js"></script>#}
{##}
{##}
{#<script type="text/javascript" src="/static/dataTables.bootstrap.js"></script>#}
{#<script type="text/javascript" src="/static/jquery.dataTables.js"></script>#}
{#<script src="/static/custom.js"></script>#}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/datatables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

    <title>Quản lý phòng mạch</title>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
</head>

<body onload="startTime()">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>


{% if current_user.is_authenticated %}

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><span style="color:yellow; font-size: 20pt">Phòng mạch</span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">Bệnh nhân</a></li>
                    <li class=""><a href="/medicine">Thuốc</a></li>
                    <li class=""><a href="/diagnostic">Chẩn đoán</a></li>
                    <li class=""><a href="/treatment">Điều trị</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a> <span id="clock_display" style="color:yellow"></span></a></li>
                    <li><a> Xin chào, <strong> {{ current_user.username }} </strong> </a></li>
                    <li>
                        <a href='/logout'> <span style="color:red"><strong> Đăng xuất </strong></span></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

{% endif %}

{#{% with messages = get_flashed_messages() %}#}
{#    {% if messages %}#}
{#        <ul>#}
{#            {% for message in messages %}#}
{#                <li>{{ message }} </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}
{#{% endwith %}#}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for message in messages %}
            {% if "Error" not in message[1] %}
                <div class="alert alert-info">
                    <strong>{{ message[1] }} </strong>
                </div>
            {% endif %}
            {% if "Error" in message[1] %}
                <div class="alert alert-warning">
                    <strong>{{ message[1] }} </strong>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}
</body>
</html>


<script>
    $(".edit-patient").click(function () {
        var $row = $(this).closest("tr");    // Find the row
        var $tds = $row.find("td");
        $("#patient_id").val($tds[0].innerHTML);
        $("#patient_name").val($tds[1].innerHTML);
        $("#patient_phone").val($tds[2].innerHTML);
        $("#patient_age").val($tds[3].innerHTML);
        $("#patient_birth_year").val($tds[4].innerHTML);
        $("#patient_history").val($tds[5].innerHTML);
        $("#patient_family_history").val($tds[6].innerHTML);

        $.each($tds, function () {
            console.log($(this).text());
        });
    });
</script>

<script>
    $("#refresh").click(function () {
        $("#patient_id").val('');
        $("#patient_name").val('');
        $("#patient_phone").val('');
        $("#patient_age").val('');
        $("#patient_birth_year").val('');
        $("#patient_history").val('');
        $("#patient_family_history").val('');
    });
</script>

