{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
        <h1>Quản lý bệnh nhân</h1>
        <form action="" method="POST" name="patient">
            {{ form.hidden_tag() }}
            <p> Tên: {{ form.patient_name }}<br>
                Điện thoại: {{ form.patient_phone }}<br>
                Tuổi: {{ form.patient_age }}<br>
                Năm sinh: {{ form.patient_birth_year }}<br>
                Lịch sử: {{ form.patient_history }}<br>
                Lịch sử gia đình: {{ form.patient_family_history }}<br>
            </p>
            {{ form.view_all }}
            {{ form.add_new }}
            <br>
            {{ patients }}
            {% for patient in patients %}
                <li>{{ patient.patient_name }}
                {{ patient.patient_phone }}
                {{ patient.patient_age }}
                {{ patient.patient_birth_year }}
                {{ patient.patient_history }}
                {{ patient.patient_family_history }} </li>

            {% endfor %}
        </form>
    {% endif %}
{% endblock %}